<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.mapper.EssayMapper">

    <resultMap id="BaseResultMap" type="com.yy.pojo.Essay">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="describes" column="desc" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="views" column="views" jdbcType="VARCHAR"/>
            <result property="statu" column="status" jdbcType="INTEGER"/>
            <result property="likes" column="like" jdbcType="VARCHAR"/>
            <result property="commentNum" column="comment_num" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,user_id,title,
        `desc`,content,views,
        status,`like`,comment_num,
        is_delete,create_time,update_time
    </sql>
</mapper>
