@font-face {
  font-family: "iconfont"; /* Project id 4758354 */
  src: url('iconfont.woff2?t=1735631411795') format('woff2'),
       url('iconfont.woff?t=1735631411795') format('woff'),
       url('iconfont.ttf?t=1735631411795') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yiguanzhu:before {
  content: "\e600";
}

.icon-guanbi:before {
  content: "\e60b";
}

.icon-xiaoxi:before {
  content: "\eb42";
}

.icon-yonghu:before {
  content: "\e705";
}

.icon-neirong:before {
  content: "\e638";
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-xinsui:before {
  content: "\e755";
}

.icon-bianji:before {
  content: "\e69a";
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-weixin:before {
  content: "\e607";
}

